#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 801px;
    height: 801px;
    border: ridge 15px goldenrod;
}

#pwnPromotionModel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#pwnPromotionModel.hidden {
  display: none;
}

#pwnPromotionModel > .modelBody {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: calc(50% - 150px);
    left: calc(50% - 400px);
    height: 300px;
    width: 800px;
    background-color: rgb(127, 127, 127, 0.8);
}

#pwnPromotionModel > .modelBody > img {
    height: 120px;
    padding: 20px;
    border-radius: 50%;
}

#pwnPromotionModel > .modelBody > img:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}